/* Offset headings from fixed header */

.article-toc {
    padding: 0 0 6vmin;
}

.gh-content h2,
.gh-content h3 {
    scroll-margin-top: 84px;
}

/* Adjust content wrapper */
/* .post-content {
    display: block;
} */

/* Adjustments to wide and full width cards */
.kg-gallery-card,
.kg-width-wide,
.kg-width-full {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kg-gallery-card > *,
.kg-width-wide > *,
.kg-width-full > *,
figure.kg-width-full img {
    margin-left: -50vw;
    margin-right: -50vw;
}

/* .post-full-content pre {
    max-width: 0;
} */
